!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title Demo
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
    :css
      .demo {margin-left: 6rem;}
      .demo li:not(:last-child) {margin-bottom: 1rem;}
      .demo ol {counter-reset: list;}
      .demo ol li {position: relative;}
      .demo ol li::before {
        counter-increment: list;
        content: counter(list) ".";
        position: absolute;
        top: 0;
        right: 100%;
        margin-right: .5rem;
        color: #ccc;
      }
  
  %body#page.page
    %main#main.main{role: "main"}
      %section{role: "region", "aria-label" => "Demo"}
        .ctn.p-t_8.p-b_8
          %article
            %header.m-b_4
              %h3
                %a.a.__inner{href: "/index.html"}
                  %span Demo

            .grid
              .grid-i.__grid-1-3>
                %nav.demo
                  %ol
                    
                    %li.m-b_2
                      %a{href: "/ui.html"} UI
                    
                    %li.m-b_2 
                      %a{href: "/"} Landing
                    
                    %li.m-b_2
                      %a{href: "/encyclopedia_show.html"} Encyclopedia item
                    
                    %li
                      %a{href: "/profile_message.html"} Profile message
                    %li
                      %a{href: "/profile_about.html"} Profile about
                    %li 
                      %a{href: "/profile_wardrobe.html"} Profile wardrobe
                    %li 
                      %a{href: "/profile_achievements.html"} Profile achievements
                    %li.m-b_2
                      %a{href: "/profile_comments.html"} Profile comments

                    %li.m-b_2
                      %a{href: "/groups.html"} Groups

                    %li
                      %a{href: "/brands.html"} All brands
                    %li
                      %a{href: "/brands_logos.html"} All brands logos
                    %li.m-b_2
                      %a{href: "/brands_show.html"} Brand item

                    %li.m-b_2
                      %a{href: "/notes_logos.html"} All notes logos

              .grid-i.__grid-1-3>
                %nav.demo
                  %ol
                    %li 
                      %a.a.__pseudo{href: "/dialogs/voting.html#tab1", data: {dialog: "open", url: "/data/dialogs/voting.html", tab: 1}} Voting user
                    %li 
                      %a.a.__pseudo{href: "/dialogs/add-note.html#tab1", data: {dialog: "open", url: "/data/dialogs/add-note.html", tab: 1}} Add your note