!!!
%html.no-js{lang: "ru-RU"}
  %head
    %title UI
    = Haml::Engine.new(File.read('views/layouts/_head.haml')).render
  
  %body#page.page
    = Haml::Engine.new(File.read('views/common/_alerts.haml')).render


    .ctn

      .m-b_2
        %header#header.header{role: "banner"}
          %ul.menu.grid.__no-gutter
            %li.menu_i.grid-i.__grid-1-7.c-bg.__red>
              %a.menu_i_a{href: "#"} 1
            %li.menu_i.grid-i.__grid-1-7.c-bg.__green>
              %a.menu_i_a{href: "#"} 2
            %li.menu_i.grid-i.__grid-1-7.c-bg.__blue>
              %a.menu_i_a{href: "#"} 3
            %li.menu_i.grid-i.__grid-1-7.c-bg.__red>
              %a.menu_i_a{href: "#"} 4
            %li.menu_i.grid-i.__grid-1-7.c-bg.__green>
              %a.menu_i_a{href: "#"} 5
            %li.menu_i.grid-i.__grid-1-7.c-bg.__blue>
              %a.menu_i_a{href: "#"} Search
            %li.menu_i.grid-i.__grid-1-7.c-bg.__red>
              %a.menu_i_a{href: "#"} Login / Register

      .m-b_2
        %nav#nav.nav{role: "navigation"}
          %ul.menu.grid.__no-gutter
            %li.menu_i.grid-i.__grid-1-7.c-bg.__red>
              %a.menu_i_a{href: "#"} Themes
            %li.menu_i.grid-i.__grid-1-7.c-bg.__green>
              %a.menu_i_a{href: "#"} Brands
            %li.menu_i.grid-i.__grid-1-7.c-bg.__blue>
              %a.menu_i_a{href: "#"} Top
            %li.menu_i.grid-i.__grid-1-7.c-bg.__red>
              %a.menu_i_a{href: "#"} Offers
            %li.menu_i.grid-i.__grid-1-7.c-bg.__green>
              %a.menu_i_a{href: "#"} Noses
            %li.menu_i.grid-i.__grid-1-7.c-bg.__blue>
              %a.menu_i_a{href: "#"} Fragrances
            %li.menu_i.grid-i.__grid-1-7.c-bg.__red>
              %a.menu_i_a{href: "#"} Social

      .m-b_2
        %nav
          %ul.menu.grid.__no-gutter
            %li.menu_i.grid-i.__grid-1-7.c-bg.__red>
              %a.menu_i_a{href: "#"} Add friend
            %li.menu_i.grid-i.__grid-1-7.c-bg.__green>
              %a.menu_i_a{href: "#"} Message
            %li.menu_i.grid-i.__grid-1-7.c-bg.__blue>
              %a.menu_i_a{href: "#"} About
            %li.menu_i.grid-i.__grid-1-7.c-bg.__red>
              %a.menu_i_a{href: "/profile_wardrobe.html"} Wardrobe
            %li.menu_i.grid-i.__grid-1-7.c-bg.__green>
              %a.menu_i_a{href: "#"} Activity
            %li.menu_i.grid-i.__grid-1-7.c-bg.__blue>
              %a.menu_i_a{href: "#"} Achievements
            %li.menu_i.grid-i.__grid-1-7.c-bg.__red>
              %a.menu_i_a{href: "#"} Comments