%header#header.header{role: "banner"}
  .ctn
    %a.logo{href: "/"} Logo
    %ul.header-menu.grid.__no-gutter
      %li.header-menu_i.grid-i.__grid-1-7.__prefix-5-7>
        %a.header-menu_i_a{href: "#"} Search
      %li.header-menu_i.js-login.grid-i.__grid-1-7>
        %a.header-menu_i_a.__special{href: "#"} Login / Register
        
        .menu_i_dropdown.__login
          %form.form
            %div.m-b_1
              %input.form-el.__tx.__block{type: "text", placeholder: "E-MAIL"}
            %div.m-b_2
              %input.form-el.__tx.__block{type: "password", placeholder: "PASSWORD"}
            %div.m-b_2
              %input.form-el.__btn.__black.grid-i.__grid-1-2{type: "submit", value: "Login"}
            %p.tx.__upper
              Not a member?
              %a.js-toggle{href: "#"} Register now

        .menu_i_dropdown.__register
          %form.form
            %div.m-b_1
              %input.form-el.__tx.__block{type: "text", placeholder: "E-MAIL"}
            %div.m-b_2
              %input.form-el.__tx.__block{type: "password", placeholder: "PASSWORD"}
            %div.m-b_2
              %input.form-el.__btn.__black.grid-i.__grid-1-2{type: "submit", value: "Register"}
            %p.tx.__upper
              %a.js-toggle{href: "#"} Login