%header#header.header{role: "banner"}
  .ctn
    %a.logo{href: "/"} Logo
    %nav
      %ul.header_nav
        %li.header_nav_i>
          %a.header_nav_i_a{href: "#"} Search
        %li.header_nav_i>
          %a.header_nav_i_a.__login{href: "#"} Login / Register