%header#header.header{role: "banner"}
  .ctn
    %a.logo{href: "/"} Logo
    %menu.menu.grid.__no-gutter
      %li.menu_i.grid-i.__grid-1-7.__prefix-5-7>
        %a.menu_i_a.__search{href: "#"} Search
      %li.menu_i.grid-i.__grid-1-7>
        %a.menu_i_a.__login{href: "#"} Login / Register