%nav
  %ul.sidebar-nav.__settings
    %li.sidebar-nav_i
      %a.sidebar-nav_i_a.__current{href: "/profile_settings_personal.html"} Personal
    %li.sidebar-nav_i
      %a.sidebar-nav_i_a{href: "/profile_settings_picture.html"} Profile picture
    %li.sidebar-nav_i
      %a.sidebar-nav_i_a{href: "/profile_settings_interests.html"} Occupation and interests
    %li.sidebar-nav_i
      %a.sidebar-nav_i_a{href: "/profile_settings_location.html"} Language and location
    %li.sidebar-nav_i
      %a.sidebar-nav_i_a{href: "/profile_settings_email.html"} Email settings
    %li.sidebar-nav_i
      %a.sidebar-nav_i_a{href: "/profile_settings_password.html"} Email and password
    %li.sidebar-nav_i
      %a.sidebar-nav_i_a{href: "/profile_settings_privacy.html"} Privacy
    %li.sidebar-nav_i
      %a.sidebar-nav_i_a{href: "/profile_settings_connections.html"} Connections