%nav#nav.nav{role: "navigation"}
  .ctn
    %ul
      %li.nav_i>
        %a{href: "#"} Themes
      %li.nav_i>
        %a{href: "#"} Brands
      %li.nav_i>
        %a{href: "#"} Top
      %li.nav_i>
        %a{href: "#"} Offers
      %li.nav_i>
        %a{href: "#"} Noses
      %li.nav_i>
        %a{href: "#"} Fragrances
      %li.nav_i>
        %a{href: "#"} Social