%nav#nav.nav{role: "navigation"}
  .ctn
    %ul.menu.grid.__no-gutter
      %li.menu_i.grid-i.__grid-1-7>
        %a.menu_i_a{href: "#"} Fragrances
        
        / %div.menu_dropdown
        /   .grid
        /     .grid-i.grid-1-7.va-m.c-bg.__green>
        /       %p.tx.__l.__600 По алфавиту:
        /     .grid-i.grid-6-7.va-m.c-bg.__green> 1
        /       %ul
        /           1
        /           5
        /           A
        /           B
        /           C
        /           D
        /           E
        /           F
        /           G
        /           H
        /           I
        /           J
        /           K
        /           L
        /           M
        /           N
        /           O
        /           P
        /           R
        /           S
        /           T
        /           U
        /           V
        /           W
        /           X
        /           Y
        /           Z
        /           Показать все

      %li.menu_i.grid-i.__grid-1-7>
        %a.menu_i_a{href: "/brands_logos.html"} Brands
      %li.menu_i.grid-i.__grid-1-7>
        %a.menu_i_a{href: "/notes_logos.html"} Notes
      %li.menu_i.grid-i.__grid-1-7>
        %a.menu_i_a{href: "/groups.html"} Group
      %li.menu_i.grid-i.__grid-1-7>
        %a.menu_i_a{href: "/top.html"} Top
      %li.menu_i.grid-i.__grid-1-7>
        %a.menu_i_a{href: "/offers.html"} Offers
      %li.menu_i.grid-i.__grid-1-7>
        %a.menu_i_a{href: "#"} Social