%nav#nav.nav{role: "navigation"}
  .ctn
    %ul.menu.grid.__no-gutter
      %li.menu_i.grid-i.__grid-1-7>
        %a.menu_i_a{href: "#"} Themes
      %li.menu_i.grid-i.__grid-1-7>
        %a.menu_i_a{href: "#"} Brands
      %li.menu_i.grid-i.__grid-1-7>
        %a.menu_i_a{href: "#"} Top
      %li.menu_i.grid-i.__grid-1-7>
        %a.menu_i_a{href: "#"} Offers
      %li.menu_i.grid-i.__grid-1-7>
        %a.menu_i_a{href: "#"} Noses
      %li.menu_i.grid-i.__grid-1-7>
        %a.menu_i_a{href: "#"} Fragrances
      %li.menu_i.grid-i.__grid-1-7>
        %a.menu_i_a{href: "#"} Social