%h2.tx.__upper.__center.m-b_3 
  %span.tx.__400 Add 
  your note
%hr.hr.m-b_3
%form.form
  .grid
    .grid-i.__grid-3-16>
      %figure.flavors-i>
        .flavors-i_photo
          %i.ico.__26.__plus
    .grid-i.__grid-13-16>
      %div.m-b_2
        %input.form-el.__tx.__border.__block{type: "text", placeholder: "Start typing", autofocus: "autofocus"}
      %div.m-b_2
        %textarea.form-el.__textarea.__border.__block{rows: 4, placeholder: "Add description"}
      %div
        %input.form-el.__btn.__purple.grid-i.__grid-4-13.b-center{type: "submit", value: "Add"}