%script{src: "/assets/javascripts/dialog.js"}
.dialog{style: "width: 700px;"}
  %a.dialog_close.fa.fa-times.tx.__base{href: "#", data: {dialog: "close"}}
  = Haml::Engine.new(File.read('views/dialogs/_voting.haml')).render