%footer#footer.footer{role: "contentinfo"}
  .p-t_2.p-b_2.c-bg.__black
    .ctn
      .grid
        .grid-i.__grid-6>
          %p.c-color.__gray
            &copy;
            %i.fa.fa-flask
            Chemistry Template, 2014
        .grid-i.__grid-6>
          %ul.footer_share
            %li
              %a.twitter-follow-button{href: "https://twitter.com/chemistry", data: {"show-count" => "true"}} Follow @chemistry
              :javascript
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            %li
              %a.twitter-share-button{href: "https://twitter.com/share"} Tweet
              :javascript
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>