%header#header.header{role: "banner"}
  .p-t_2.p-b_2.c-bg.__black
    .ctn
      .grid
        .grid-i.__grid-6>
          %h1.delta.c-color.__gray
            %i.fa.fa-flask
            Chemistry Template
        .grid-i.__grid-6>
          %nav.header_nav
            %a{href: "#"}< Features
            %a{href: "#"}< Docs
            %a{href: "#"}< Demo
            %a.a.__inner{href: "#"}<
              %i.fa.fa-github
              %span Issues
            %a.a.__inner{href: "mailto:support@chemistry-template.com"}<
              %i.fa.fa-envelope-o
              %span Support