%nav.breadcrumbs
  .ctn
    %ul
      %li.breadcrumbs_i 
        %a{href: "/"} Home
      %li.breadcrumbs_i 
        %a{href: "/"} Fragrance
      %li.breadcrumbs_i 
        %a{href: "/"} Marc Jacobs
      %li.breadcrumbs_i 
        %a{href: "/"} Marc Jacobs Honey