%figure.carousel-i
  .carousel-i_photo.m-b_1
    %a{href: "/encyclopedia_show.html"}
      %img.va-t{src: "/assets/images/fake/product-#{rand(1..9)}.jpg", width: 110, height: 155, alt: "Britney Spears Fantasy"}
  %figcaption.tx.__s
    %p
      %a.a.__base{href: "/encyclopedia_show.html"} Britney Spears Fantasy