.ui-dropdown_body
  %form.form
    %table
      %tbody
        %tr
          %td
            %span.form-el.__radio.__fake
              %input.form-el.__radio.__real{type: "radio", name: "a1"}
          %td Morning
          %td
            .ui-progress
              .ui-progress_value{style: "background-color: #ffd400; width: 80%;"}
          %td
            %span.ui-result 300
        %tr
          %td
            %span.form-el.__radio.__fake
              %input.form-el.__radio.__real{type: "radio", name: "a1"}
          %td Day
          %td
            .ui-progress
              .ui-progress_value{style: "background-color: #ed1846; width: 40%;"}
          %td
            %span.ui-result 150
        %tr
          %td
            %span.form-el.__radio.__fake
              %input.form-el.__radio.__real{type: "radio", name: "a1"}
          %td Evening
          %td
            .ui-progress
              .ui-progress_value{style: "background-color: #70277a; width: 70%;"}
          %td
            %span.ui-result 325
        %tr
          %td
            %span.form-el.__radio.__fake
              %input.form-el.__radio.__real{type: "radio", name: "a1"}
          %td Night
          %td
            .ui-progress
              .ui-progress_value{style: "background-color: #009bcb; width: 10%;"}
          %td
            %span.ui-result 280
        %tr
          %td
            %span.form-el.__radio.__fake
              %input.form-el.__radio.__real{type: "radio", name: "a1"}
          %td Anytime
          %td
            .ui-progress
              .ui-progress_value{style: "background-color: #a6ce42; width: 30%;"}
          %td
            %span.ui-result 280