%figure.flavors-i>
  .flavors-i_photo
    %img{src: "/assets/images/fake/flavor-#{rand(1..11)}.jpg", width: 100, height: 100, alt: "Blueberry"}
  %figcaption
    %p 
      %span> Blueberry
      %i.fa.fa-sort-asc>