- rand = rand(1..7)
%section.section{role: "region", "aria-label" => "Profile"}
  .ctn
    .grid
      .grid-i.__grid-1-1
        .dashboard
          .grid.__no-gutter
            .grid-i.__grid-2-7>
              .dashboard_group{style: "background-image: url(/assets/images/fake/group-photo-#{rand}.jpg)"}
                .dashboard_group_caption
                  %p.dashboard_group_name Восточные
            .grid-i.__grid-5-7>
              .dashboard_stats{style: "background-image: url(/assets/images/fake/group-bg-#{rand}.jpg)"}
                %ul.dashboard_list
                  %li.dashboard_list_i>
                    %a.dashboard_list_i_a{href: "#"}
                      %span.dashboard_list_i_value 2186
                      %span.dashboard_list_i_label Восточные<br>цветочные                      
                  %li.dashboard_list_i>
                    %a.dashboard_list_i_a{href: "#"}
                      %span.dashboard_list_i_value 304
                      %span.dashboard_list_i_label Восточные<br>фужерные                      
                  %li.dashboard_list_i>
                    %a.dashboard_list_i_a{href: "#"}
                      %span.dashboard_list_i_value 793
                      %span.dashboard_list_i_label Восточные<br>гурманские                      
                  %li.dashboard_list_i>
                    %a.dashboard_list_i_a{href: "#"}
                      %span.dashboard_list_i_value 1132
                      %span.dashboard_list_i_label Восточные<br>древесные
                  %li.dashboard_list_i>
                    %a.dashboard_list_i_a{href: "#"}
                      %span.dashboard_list_i_value 647
                      %span.dashboard_list_i_label Восточные<br>пряные

    %nav
      %ul.dashboard-menu.grid.__no-gutter
        %li.dashboard-menu_i.grid-i.__grid-2-7>
          %a.dashboard-menu_i_a.__special{href: "#"} 1016 восточных Ароматов
        %li.dashboard-menu_i.grid-i.__grid-1-7>
          %a.dashboard-menu_i_a{href: "#"} About
        %li.dashboard-menu_i.grid-i.__grid-1-7>
          %a.dashboard-menu_i_a{href: "#"} Wardrobe
        %li.dashboard-menu_i.grid-i.__grid-1-7>
          %a.dashboard-menu_i_a{href: "#"} Activity
        %li.dashboard-menu_i.grid-i.__grid-1-7>
          %a.dashboard-menu_i_a{href: "#"} Achievements
        %li.dashboard-menu_i.grid-i.__grid-1-7>
          %a.dashboard-menu_i_a{href: "#"} Comments