%figure.carousel-i.__group
  .carousel-i_photo.m-b_1
    %a{href: "#"}
      %img.va-t{src: "/assets/images/fake/group-#{rand(1..4)}.jpg", width: "100%", alt: "De grasse"}
  %figcaption
    %p
      %a.a.__base{href: "/encyclopedia_show.html"} 
        %span.tx.__upper de grasse