%figure.products-i
  %a{href: "#"}
    %img{src: "/assets/images/fake/deals-#{rand(1..8)}.jpg", width: 110, height: 160, alt: "Britney Spears Fantasy"}
  %figcaption
    %a{href: "#"} Britney Spears Fantasy