%section.section{role: "region", "aria-label" => "Profile"}
  .ctn
    .grid
      .grid-i.__grid-1-1
        .dashboard
          .grid.__no-gutter
            .grid-i.__grid-2-7>
              .dashboard_user{style: "background-image: url(/assets/images/fake/user-photo-1.png)"}
                .dashboard_user_caption
                  %p.dashboard_user_name Alexandra Osipenko
                  %p.dashboard_user_status Online
            .grid-i.__grid-5-7>
              .dashboard_stats{style: "background-image: url(/assets/images/fake/user-bg-1.png)"}
                
                %a.dashboard_edit{href: "/profile_settings_personal.html"}
                  %i.fa.fa-pencil-square-o
                
                %ul.dashboard_list
                  %li.dashboard_list_i>
                    %a.dashboard_list_i_a{href: "#"}
                      %span.dashboard_list_i_label Followers
                      %span.dashboard_list_i_value 2,2K
                  %li.dashboard_list_i>
                    %a.dashboard_list_i_a{href: "#"}
                      %span.dashboard_list_i_label Following
                      %span.dashboard_list_i_value 1,9K
                  %li.dashboard_list_i>
                    %a.dashboard_list_i_a{href: "#"}
                      %span.dashboard_list_i_label Articles
                      %span.dashboard_list_i_value 2,2K
                  %li.dashboard_list_i>
                    %a.dashboard_list_i_a{href: "#"}
                      %span.dashboard_list_i_label Comments
                      %span.dashboard_list_i_value 0,2K

    %nav
      %ul.dashboard-menu.grid.__no-gutter
        %li.dashboard-menu_i.grid-i.__grid-1-7>
          %a.dashboard-menu_i_a.__special{href: "#"} Add friend
        %li.dashboard-menu_i.grid-i.__grid-1-7>
          %a.dashboard-menu_i_a.__special{href: "/profile_message.html"} Message
        %li.dashboard-menu_i.grid-i.__grid-1-7>
          %a.dashboard-menu_i_a{href: "/profile_about.html"} About
        %li.dashboard-menu_i.grid-i.__grid-1-7>
          %a.dashboard-menu_i_a{href: "/profile_wardrobe.html"} Wardrobe
        %li.dashboard-menu_i.grid-i.__grid-1-7>
          %a.dashboard-menu_i_a{href: "#"} Activity
        %li.dashboard-menu_i.grid-i.__grid-1-7>
          %a.dashboard-menu_i_a{href: "/profile_achievements.html"} Achievements
        %li.dashboard-menu_i.grid-i.__grid-1-7>
          %a.dashboard-menu_i_a{href: "/profile_comments.html"} Comments