%figure.products-i
  .products-i_photo.m-b_1
    %a{href: "#"}
      %img.va-t{src: "/assets/images/fake/deals-#{rand(1..8)}.jpg", width: 110, height: 160, alt: "Britney Spears Fantasy"}
  %figcaption.tx.__s
    %p
      %a.a.__base{href: "#"} Britney Spears Fantasy