%figure.products-i.__main
  .products-i_photo.m-b_2
    %a{href: "#"}
      %img.va-t{src: "/assets/images/fake/hot-offers-#{rand(1..4)}.png", width: 200, height: 280, alt: "Jimmy Choo"}
  %figcaption.tx.__l
    %p.tx.__600.m-b_1
      %a.a.__base{href: "#"} 
        Jimmy Choo
        %br
        Eau de Parfum Spray 100ml
    %p.tx.__upper
      Price £68.00