%article.reviews-i
  .grid
    .grid-i.__grid-4-23.__prefix-1-23>
      .reviews-i_user
        .p-r.m-b_1
          %img.reviews-i_photo{src: "/assets/images/fake/reviews-mini-#{rand(1..2)}.png", alt: ""}
          = haml :"/views/common/_avatar"
        %ul.reviews-i_rating
          %li.reviews-i_rating_control.__plus
            %a{href: "#"} +
            %span 10
          %li.reviews-i_rating_control.__minus
            %a{href: "#"} &ndash;
            %span 5
    .grid-i.__grid-17-23>
      %header.m-b_2
        .grid
          .grid-i.__grid-3-4.va-m>
            %h3.tx.__upper.__700 
              %a{href: "#"} Taylor Swift
          .grid-i.__grid-1-4.va-m>
            .tx.__right
              .stars.__readonly{data: {score: "#{rand(1..5)}"}}
      %p.m-b_1 Well, wish&nbsp;I could just paste Ouch&rsquo;s review here heh. Tested this again because it&nbsp;bothers me&nbsp;I don&rsquo;t like it&nbsp;as&nbsp;I adore most Prada scents. Nope. Eye swelling headache in&nbsp;a&nbsp;spray bottle. This is&nbsp;plastic caramel, there is&nbsp;nothing &laquo;Prada&raquo; about&nbsp;it. Not the dry down, not the start or&nbsp;middle. So&nbsp;linear, weak and straight up&nbsp;offensive.
      %footer
        .grid
          .grid-i.__grid-1-2>
            %nav.reviews-i_action
              %a.reviews-i_action_i.__report{href: "#"}> Report
          .grid-i.__grid-1-2>
            %p.tx.__s.__muted.__right 28 February 2014&nbsp;&nbsp;&nbsp;11:20