%figure.reviews-thumbs_i
  .grid.__no-gutter
    .grid-i.__grid-2-7.va-m>
      .tx.__center
        %img.reviews-thumbs_i_photo{src: "/assets/images/fake/reviews-thumb-#{rand(1..5)}.jpg", width: 54, height: 54, alt: "Alexandra Toms, commented on Cerutti 1881 for woman"}
    .grid-i.__grid-5-7.va-m>
      %figcaption
        %p.tx.__s <b>Alexandra Toms,</b> commented on&nbsp;<b>Cerutti 1881 for woman</b>
        .grid
          .grid-i.__grid-1-2>
            %p.tx.__xs.reviews-thumbs_i_data 1 day ago
          .grid-i.__grid-1-2>
            %nav.tx.__xs
              %a{href: "#"}> Check
              %a{href: "#"}> Reply