%figure.carousel-i.__rating
  .carousel-i_photo.m-b_1
    %a{href: "#"}
      %img.va-t{src: "/assets/images/ratings.png", width: 110, height: 110, alt: "Top 10"}
  %figcaption
    %p
      %a.a.__base{href: "/encyclopedia_show.html"} 
        %span.tx.__upper Top 10