//****************************************************************************************************
//
// .. FONTS
//
//****************************************************************************************************
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,800,700,600&subset=latin,cyrillic);



//****************************************************************************************************
//
// .. MEDIA QUERY
//
//****************************************************************************************************
$mq-phone-min-width:   320px;
$mq-phone-max-width:   640px;
$mq-tablet-min-width:  641px;
$mq-tablet-max-width:  940px;

$mq-desktop-min-width: 960px;
$mq-desktop-max-width: 960px;



//****************************************************************************************************
//
// .. CONTAINER
//
//****************************************************************************************************
$ctn-padding: 20px;



//****************************************************************************************************
//
// .. GRID
//
//****************************************************************************************************
$grid: fluid; // .. fixed / fluid / responsive
$grid-width-transition: false; // .. true / false

//
// .. Fixed
//
$grid-fixed-col-qty:    24;
$grid-fixed-col-width:  30px;
$grid-fixed-col-gutter: 10px;
$grid-fixed-col-indent: 20px;

//
// .. Fluid
//
$grid-fluid-col-qty:    24;
$grid-fluid-col-gutter: 1%;
$grid-fluid-col-indent: 20px; // .. rem / px

//
// .. Responsive
//
$grid-responsive-col-qty:    12;
$grid-responsive-col-gutter: 2%;
$grid-responsive-col-indent: 2rem; // .. rem / px



//****************************************************************************************************
//
// .. STYLES
//
//****************************************************************************************************
//
// .. Html
//
$root-font-size-list: (62.5%, 57.5%, 52.5%); // .. desktop / tablet / phone

//
// .. Body
//
$base-bg: #fff;
$base-color: #5f6674;
$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size-list: (13px, 13px, 13px);
$base-font-weight: 400;
$base-line-height-list: (13px, 13px, 13px);

//
// .. Headings
//
$h-font-family: $base-font-family;

$h1-font-size-list: (18px, 18px, 18px);
$h2-font-size-list: (16px, 16px, 16px);
$h3-font-size-list: (15px, 15px, 15px);
$h4-font-size-list: (14px, 14px, 14px);
$h5-font-size-list: (inherit, inherit, inherit);
$h6-font-size-list: (inherit, inherit, inherit);

$h1-font-weight-list: (700, 700, 700);
$h2-font-weight-list: (700, 700, 700);
$h3-font-weight-list: (400, 400, 400);
$h4-font-weight-list: (400, 400, 400);
$h5-font-weight-list: (600, 600, 600);
$h6-font-weight-list: (inherit, inherit, inherit);

$h1-line-height-list: (16px, 16px, 16px);
$h2-line-height-list: (18px, 18px, 18px);
$h3-line-height-list: (19px, 19px, 19px);
$h4-line-height-list: (14px, 14px, 14px);
$h5-line-height-list: (inherit, inherit, inherit);
$h6-line-height-list: (inherit, inherit, inherit);

//
// .. Colors
//
$major-color:  #c390cf;
$minor-color:  #fc5e7c;
$voice-color:  #465065;
$muted-color:  #eee;
$border-color: #d5d5d5;

//
// .. Focus
//
$focus: false; // .. true / false

//
// .. Links
//
$link-color: #3b86c4;
$link-color-hover: '';
$link-color-active: '';
$link-style: nn;        // .. nn / uu / un / nu
$link-style-pseudo: uu; // .. nn / uu / un

//
// .. Content styles
//
$content-factor: 2;
$content-link: false; // .. true / false
$content-link-color: #0000cd;
$content-link-color-hover: #ccc;
$content-link-color-active: darken($content-link-color-hover, 10%);

//
// .. Text
//
$tx-xxs-font-size:   70%;
$tx-xxs-line-height: 160%;

$tx-xs-font-size:    85%;
$tx-xs-line-height:  181%; // .. to use

$tx-s-font-size:     90%;
$tx-s-line-height:   136%; // .. to use

$tx-l-font-size:     110%;
$tx-l-line-height:   160%;

$tx-xl-font-size:    120%;
$tx-xl-line-height:  160%;

$tx-xxl-font-size:   130%;
$tx-xxl-line-height: 160%;



//****************************************************************************************************
//
// .. COMPONENTS
//
//****************************************************************************************************
$components: true; // .. true / false