%section{role: "region", "aria-label" => "Intro"}
  .intro.c-bg.__gray
    .ctn
      .tx.__center
        %p.b-center.grid-i.__grid-8.m-b_4.tx.__xxl
          %b.fw-600 Chemistry Template
          is&nbsp;a&nbsp;tool that helps you organize, develop and maintain your markup in&nbsp;a&nbsp;structural, logical way.
        .form
          .grid
            .grid-i.__grid-4>
              %a.form-el.__btn.__block.c-btn.__xl.__dark.f-r{href: "#"}
                %i.fa.fa-github
                Fork on&nbsp;GitHub
            .grid-i.__grid-4>
              %a.form-el.__btn.__block.ws-nowrap.c-btn.__xl.__blue{href: "#"}
                %i.fa.fa-download
                Download (0.1&nbsp;beta)



%section{role: "region", "aria-label" => "Features"}
  .features.p-t_6.p-b_6
    %article.ctn
      %header.m-b_4.tx.__center
        %h2 Key Features
      .grid
        .grid-i.__grid-4>
          %article.features_i
            %img.features_ico.__docs{src: "/assets/images/blank.gif", width: "120", height: "120", alt: ""}
            %header.m-b_1
              %h4 Quick Start
            %p Detailed, well structured documentation with code examples helps you get started quickly.
        .grid-i.__grid-4>
          %article.features_i
            %header.m-b_1
              %img.features_ico.__tools{src: "/assets/images/blank.gif", width: "120", height: "120", alt: ""}
              %h4 Written on&nbsp;HAML/SASS
            %p Clear markup and rapid coding with HAML syntax and the power of&nbsp;SASS features and abilities in&nbsp;one bottle for easy development.
        .grid-i.__grid-4>
          %article.features_i
            %header.m-b_1
              %img.features_ico.__responsive{src: "/assets/images/blank.gif", width: "120", height: "120", alt: ""}
              %h4 Fully Responsive
            %p Choose between automatic or&nbsp;manual control over typography, grid, blocks, elements, .etc responsive behavior.
        .grid-i.__grid-4>
          %article.features_i
            %header.m-b_1
              %img.features_ico.__forms{src: "/assets/images/blank.gif", width: "120", height: "120", alt: ""}
              %h4 Customizable Forms
            %p No&nbsp;more headache with form elements styling. Feel the simplicity and comfort of&nbsp;changing its appearance in&nbsp;an&nbsp;instant.
        .grid-i.__grid-4>
          %article.features_i
            %header.m-b_1
              %img.features_ico.__more{src: "/assets/images/blank.gif", width: "120", height: "120", alt: ""}
              %h4 And More...
            %p
              In&nbsp;addition to&nbsp;the above, Template provides you even more useful features.
              %a{href: "#"} Check
              the complete list.
        .grid-i.__grid-4>
          %article.features_i
            %header.m-b_1
              %img.features_ico.__feedback{src: "/assets/images/blank.gif", width: "120", height: "120", alt: ""}
              %h4 P.S.
            %p
              Share with&nbsp;us your thoughts and experience on&nbsp;how to&nbsp;improve our Template&nbsp;&mdash; send&nbsp;us
              %a{href: "#"} pull request
              or&nbsp;
              %a{href: "#"}> issue
              \.
              


%section{role: "region", "aria-label" => "Examples"}
  .examples.p-t_6.p-b_6
    %article.ctn
      %header.m-b_4.tx.__center
        %h2 Built with Template
      .grid
        .grid-i.__grid-3>
          %figure
            %a{href: "http://bez.brainsapiens.com/demo/", rel: "nofollow"}
              %img{src: "/landing/project-bezrulya.jpg", alt: ""}
            %figcaption.c-color.__gray
              Automobile portal with fixed
              %span.nowrap 12-column
              grid
        .grid-i.__grid-3>
          %figure
            %a{href: "#project-2"}
              %img.c-bg.__orange{src: "/assets/images/blank_landscape.gif", alt: ""}
            %figcaption.c-color.__gray Responsive manual
        .grid-i.__grid-3>
          %figure
            %a{href: "#project-3"}
              %img.c-bg.__yellow{src: "/assets/images/blank_landscape.gif", alt: ""}
            %figcaption.c-color.__gray Fluid
        .grid-i.__grid-3>
          %figure
            %a{href: "#project-4"}
              %img.c-bg.__green{src: "/assets/images/blank_landscape.gif", alt: ""}
            %figcaption.c-color.__gray Fixed



%section{role: "region", "aria-label" => "Credits"}
  .p-t_6.p-b_6
    %article.ctn
      %header.m-b_4.tx.__center
        %h2 Credits &amp;&nbsp;Related
      .cnt
        .grid
          .grid-i.__grid-4>
            %dl
              %dt Created by:
              %dd
                %a{href: "http://brainsapiens.com/"} Vyacheslav Efremenko
              %dd
                %a{href: "http://oskolsky.com/"} Maxim Oskolsky
              / %dd
              /   %a{href: "#"} Sergey Troitsky
              %dd
                %a{href: "http://mortis.ru/"} Sergey Lobanov
          
          .grid-i.__grid-4>
            %dl
              %dt Inspired with:
              %dd
                %a{href: "http://getbootstrap.com/", rel: "nofollow"} Bootstrap
              %dd
                %a{href: "http://inuitcss.com/", rel: "nofollow"}< inuitcss
                by&nbsp;Harry Roberts
              %dd
                %a{href: "http://operatino.github.io/MCSS/", rel: "nofollow"}< MCSS
                by&nbsp;Robert Haritonov

          .grid-i.__grid-4>
            %dl
              %dt We recommend:
              %dd
                %a{href: "http://gruntjs.com/", rel: "nofollow"} Grunt
              %dd
                %a{href: "https://github.com/somu/sword", rel: "nofollow"}<
                  Sword
                by&nbsp;Egor Timoschenko