@mixin size($w, $h) {
  width:  #{$w}px;
  height: #{$h}px;
}

.ico {
  display: inline-block;
  background: {
    color: transparent;
    repeat: no-repeat;
  }
  &.__26 {
    @include size(26, 26);
    background-image: url(/assets/images/icons/ico-26.png);
    &.__plus {background-position: 0 0;}
  }
  &.__52 {
    @include size(52, 52);
    background-image: url(/assets/images/icons/ico-52.png);
    &.__autumn {background-position: 0 0;}
    &.__night  {background-position: -52px 0;}
    &.__love   {background-position: -104px 0;}
    &.__hours  {background-position: -156px 0;}
    &.__meters {background-position: -208px 0;}
  }
}