@mixin size($w, $h) {
  width:  #{$w}px;
  height: #{$h}px;
}

.ico {
  display: inline-block;
  background: {
    color: transparent;
    repeat: no-repeat;
  }
  &.__22 {
    @include size(22, 22);
    background-image: url(/assets/images/icons/ico-22.png);
    &.__prev {background-position: 0 0;}
    &.__next {background-position: -22px 0;}
  }
}