@if $grid == "responsive" {
  @include media-query(tablet) {body {padding-top: 0 !important;}}
  @include media-query(phone) {body {padding-top: 0 !important;}}
}



//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  position: relative;
  height: 40px;
  background-color: #2f3235;
  color: #fff;
  line-height: 40px;
  > .ctn > .grid > .grid-i {margin-bottom: 0;}
  @include media-query(desktop) {
    &.__sticky {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000;
      background: $base-bg;
      box-shadow: .1em .1em .3em rgba(0, 0, 0, .25);
    }
  }
}

  .logo {
    @include prefixes(transform, translateY(-50%));
    position: absolute;
    top: 50%;
    color: inherit;
    text-transform: uppercase;
    font-size: 25px;
  }

  .header_nav {
    text-align: right;
    white-space: nowrap;
  }
    .header_nav_i {
      @include prefixes(box-sizing, border-box);
      display: inline-block;
      width: 14.285%; // .. 1/7
      border-left: 1px solid #414446;
      text-align: center;
      text-transform: uppercase;
      &:last-child {border-right: 1px solid #414446;}
    }
      .header_nav_i_a {
        display: block;
        color: inherit;
        &.__login {background-color: #fc5e7c;}
      }



//****************************************************************************************************
//
// .. NAVIGATION
//
//****************************************************************************************************
.nav {
  height: 70px;
  border-bottom: 1px solid #979595;
  color: #465065;
  white-space: nowrap;
  line-height: 70px;
}
  .nav_i {
    @extend .header_nav_i;
    border-color: #edeeee;
    font-size: 14px;
    &:last-child {border-color: #edeeee;}
  }
    .nav_i_a {
      @extend .header_nav_i_a;
    }



//****************************************************************************************************
//
// .. BREADCRUMBS
//
//****************************************************************************************************
.breadcrumbs {
  height: 65px;
  border-bottom: 1px solid #979595;
  background-color: #c390cf;
  color: #fff;
  line-height: 65px;
}
  .breadcrumbs_i {
    display: inline-block;    
    font-size: 14px;
    &:not(:last-child) {
      &::after {
        content: '>';
        padding: 0 5px;
      }
    }
    a {
      color: inherit;
      text-transform: uppercase;
      font-weight: 700;
    }
  }



//****************************************************************************************************
//
// .. SIDEBAR
//
//****************************************************************************************************
.sidebar {
  box-shadow: 0 0 0 1px $border-color;
}



//****************************************************************************************************
//
// .. REVIEWS THUMB
//
//****************************************************************************************************
.reviews-thumbs {

}
  .reviews-thumbs_i {
    margin-bottom: 20px;
  }
    .reviews-thumbs_i_photo {
      border: 1px solid #d5d5d9;
      border-radius: 50%;
      vertical-align: top;
    }



//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************
.hr {
  width: 98%;
  height: 1px;
  background-color: $border-color;
  margin: 0 auto;
}



//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {
  height: 100px;
  border: {
    top: 1px solid #d5d5d5;
    bottom: 1px solid #d5d5d5;
  }
  background-color: #465065;
  color: #d0d0d4;
  line-height: 100px;
  > .ctn > .grid > .grid-i {margin-bottom: 0;}
}

  .footer_nav {
    &.__devider {
      .footer_nav_i {
        &:not(:last-child) {
          &::after {content: '|';}
        }
      }
    }
    &.__icon {
      .footer_nav_i {
        margin: 0 10px;
      }
    }
  }
    .footer_nav_i {
      display: inline-block;
      font-size: 14px;
      a {color: inherit;}
      .fa {font-size: 18px;}
    }