@if $grid == "responsive" {
  @include media-query(tablet) {body {padding-top: 0 !important;}}
  @include media-query(phone) {body {padding-top: 0 !important;}}
}



//****************************************************************************************************
//
// .. HEADER
//
//****************************************************************************************************
.header {
  position: relative;
  height: 40px;
  background-color: #2f3235;
  line-height: 40px;
}

//
// .. Menu
//
.header-menu {

}
  .header-menu_i {
    position: relative;
    border-left: 1px solid #414446;
    &:last-child {border-right: 1px solid #414446;}
  }
    .header-menu_i_a {
      display: block;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      &.__special {background-color: $minor-color;}
    }

//
// .. Logo
//
.logo {
  position: absolute;
  top: 50%;
  color: #fff;
  text-transform: uppercase;
  font-size: 25px;
  @include prefixes(transform, translateY(-50%));
}



//****************************************************************************************************
//
// .. NAVIGATION
//
//****************************************************************************************************
.nav {
  height: 70px;
  border-bottom: 1px solid $border-color;
  background-color: #fff;
  line-height: 70px;
  @include media-query(desktop) {
    &.__sticky {
      position: fixed !important;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1001;
      border: none;
      box-shadow: .1em .1em .3em rgba(0, 0, 0, .25);
      opacity: .95;
    }
  }
}

//
// .. Menu
//
.menu {
  position: relative;
}
  .menu_i {
    border-left: 1px solid #eee;
    &:last-child {border-right: 1px solid #eee;}
  }
    .menu_i_a {
      display: block;
      color: $voice-color;
      text-align: center;
      text-transform: uppercase;
      font-size: 15px;
      @include prefixes(transition, all .33s);
      &.__current, &:hover {
        background-color: $major-color;
        color: #fff;
      }
    }

//
// .. Menu dropdown
//
.menu_dropdown {
  position: absolute;
  top: 100%;
  right: 2px;
  left: 1px;
  background-color: $major-color;
  color: #fff;
  &:hover {color: inherit;}
}

.menu_i_dropdown {
  position: absolute;
  top: 100%;
  right: -1px;
  display: none;
  padding: 30px 20px;
  width: 275px;
  background-color: #fc5e7c;
  text-align: center;
  z-index: 999;
  @include prefixes(box-sizing, border-box);
  p {
    color: #fff;
    line-height: 10px;
    a {
      color: #33383e;
      text-decoration: underline;
    }
  }
}



//****************************************************************************************************
//
// .. BREADCRUMBS
//
//****************************************************************************************************
.breadcrumbs {
  margin-top: -1px;
  height: 65px;
  border-top: 1px solid #807f7f;
  border-bottom: 1px solid #807f7f;
  background-color: $major-color;
  color: #fff;
  line-height: 65px;
}
  .breadcrumbs_i {
    display: inline-block;
    font-size: 14px;
    &:not(:last-child) {
      &::after {
        content: '>';
        padding: 0 5px;
      }
    }
  }
    .breadcrumbs_i_a {
      color: inherit;
      text-transform: uppercase;
      font-weight: 700;
    }



//****************************************************************************************************
//
// .. SIDEBAR AREA
//
//****************************************************************************************************
.sidebar {

  @include prefixes(box-sizing, border-box);

  &.__nav {
    border: 1px solid $border-color;
    background-color: #f4f4f5;
    margin-right: -1px;
  }

}

//
// .. Sidebra nav
//
.sidebar-nav {
  border-bottom: 1px solid $border-color;
}
  .sidebar-nav_i {
    &:first-child {
      .sidebar-nav_i_a {border-top: none !important;}
    }
  }
    .sidebar-nav_i_a {
      display: block;
      padding: 1.5rem 3rem;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid #f9f9f9;
      background-color: #eff2f9;
      font-weight: 700;
      font-size: 1.6rem;
      @include prefixes(transition, all .33s);
      span {
        display: block;
        margin-top: .5rem;
        color: $muted-color;
        font-weight: 400;
        font-size: 1.2rem;
      }
      &.__current, &:hover {
        border-color: #1c84dc;
        background-color: #1c84dc;
        color: #fff;
        span {color: inherit;}
      }
    }



//****************************************************************************************************
//
// .. SECTION BLOCK
//
//****************************************************************************************************
.section {

  @include prefixes(box-sizing, border-box);

  &.__bg {
    &.__white {background-color: #fff;}
    &.__gray  {background-color: #f5f5f9;}
  }
  &.__border {
    &:not(:last-child) {border-bottom: 1px solid $border-color;}
  }
  &.__margin {margin-right: 20px;}

  //
  // .. Rating
  //
  &.__rating {    
    padding: 3rem;
    border: 1px solid $border-color;    
  }
}

//
// .. Header
//
.section_header {
  position: relative;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  &::before {
    position: absolute;
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
    z-index: 1;
    content: '';
  }
  &.__major {
    &::before {
      border-top: 1px solid #ad80b7;
      border-bottom: 1px solid #ad80b7;
      background-color: $major-color;
    }
    .section_header_title {
      border-top: 1px solid #ad80b7;
      border-right: 1px solid #ad80b7;
      border-bottom: 1px solid #ad80b7;
      background-color: $major-color;
    }
  }
  &.__red {
    &::before {
      border-top: 1px solid #f14d6c;
      border-bottom: 1px solid #f14d6c;
      background-color: #fc5e7c;
    }
    .section_header_title {
      border-top: 1px solid #f14d6c;
      border-right: 1px solid #f14d6c;
      border-bottom: 1px solid #f14d6c;
      background-color: #fc5e7c;
    }
  }
  &.__green {
    &::before {
      border-top: 1px solid #77cb42;
      border-bottom: 1px solid #77cb42;
      background-color: #82d84b;
    }
    .section_header_title {
      border-top: 1px solid #77cb42;
      border-right: 1px solid #77cb42;
      border-bottom: 1px solid #77cb42;
      background-color: #82d84b;
    }
  }
  &.__blue {
    &::before {
      border-top: 1px solid #09c6d5;
      border-bottom: 1px solid #09c6d5;
      background-color: #09c6d5;
    }
    .section_header_title {
      border-top: 1px solid #09c6d5;
      border-right: 1px solid #09c6d5;
      border-bottom: 1px solid #09c6d5;
      background-color: #09c6d5;
    }
  }
}
  .section_header_inner {
    position: relative;
    z-index: 2;
    height: 65px;
    background-color: #fff;
    line-height: 65px;
  }
    .section_header_title {
      @extend .beta;
      @include prefixes(box-sizing, border-box);
      color: #fff;
      text-transform: uppercase;
      line-height: 63px;
    }
    .section_header_summary {
      @extend .tx.__l;
      color: $muted-color;
      line-height: inherit;
    }



//****************************************************************************************************
//
// .. PROMO
//
//****************************************************************************************************
.promo {
  position: relative;
  .slider_i {
    height: 500px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .owl-controls {

  }
    .owl-pagination {
      @include prefixes(transform, translateX(-50%));
      position: absolute;
      bottom: 15px;
      left: 50%;
    }
      .owl-page {
        display: inline-block;
        margin: 0 3px;
        width: 14px;
        height: 14px;
        border: 1px solid $border-color;
        border-radius: 50%;
        background-color: #fff;
        &.active {background-color: #c2b1b1;}
      }
}
  .promo_nav {

  }
    .promo_nav_i {
      @include prefixes(transform, translateY(-50%));
      position: absolute;
      top: 50%;
      color: #fff;
      text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
      font-size: 40px;
      &.__prev {
        left: 50px;
      }
      &.__next {
        right: 50px;
      }
    }



//****************************************************************************************************
//
// .. PROFILE
//
//****************************************************************************************************
//
// .. Dashboard
//
.dashboard {
  position: relative;
  margin-bottom: 1px;
  border-right:  1px solid $border-color;
  border-left:   1px solid $border-color;
  &:hover {
    .dashboard_edit {color: #fff;}  
  }
}

  //
  // .. Edit
  //
  .dashboard_edit {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #959595;
    font-size: 28px;
  }

  //
  // .. User
  //
  .dashboard_user {
    position: relative;
    height: 256px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
    .dashboard_user_caption {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 5px 0;
      background-color: rgba(42, 19, 33, .5);
      color: #fff;
      text-align: center;
      line-height: 25px;
    }
      .dashboard_user_name {
        text-shadow: 0 1px 1px rgba(68, 36, 48, .75);
        font-size: 25px;
      }
      .dashboard_user_status {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 14px;
      }

  //
  // .. Group
  //
  .dashboard_group {
    @extend .dashboard_user;
  }
    .dashboard_group_caption {
      bottom: 50px;
      padding: 15px 0;
      @extend .dashboard_user_caption;
    }
      .dashboard_group_name {        
        @extend .dashboard_user_name;
      }
      .dashboard_group_status {
        @extend .dashboard_user_status;
      }  
      .dashboard_group_count {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        height: 50px;
        background-color: #01c5c3;
        color: $voice-color;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 50px;
      }

  //
  // .. Stats
  //
  .dashboard_stats {
    position: relative;
    height: 256px;
    border-left: 1px solid #fff;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
    .dashboard_list {
      position: absolute;
      top: 50%;
      left: 50%;
      padding: 15px 0;
      background-color: rgba(67, 42, 50, .4);
      white-space: nowrap;
      @include prefixes(transform, translate(-50%, -50%));
    }
      .dashboard_list_i {
        display: inline-block;
        padding: 5px 20px;
        &:not(:last-child) {border-right: 1px solid #fff;}
      }
        .dashboard_list_i_a {
          color: #fff;
          line-height: 20px;
        }
          .dashboard_list_i_label {
            display: block;
            text-align: center;
            font-size: 15px;
          }
          .dashboard_list_i_value {
            display: block;
            text-align: center;
            font-size: 16px;
          }

//
// .. Menu
//
.dashboard-menu {
  border-bottom: 1px solid $border-color;
}
  .dashboard-menu_i {
    border-left: 1px solid $border-color;
    &:last-child {border-right: 1px solid $border-color;}
  }
    .dashboard-menu_i_a {
      display: block;
      height: 50px;
      color: $voice-color;
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 50px;
      &.__special {
        background-color: #01c5c3;
        color: #fff;
      }
      &.__current, &:hover {
        height: 47px;
        border-bottom: 3px solid $minor-color;
      }
    }

//
// .. Contacts
//
.profile-contacts {
  dt {padding-right: 10px;}
  dd {padding-left: 10px;}
}

//
// .. Ratings
//
.profile-rating {
  dt, dd {
    vertical-align: bottom;
  }
}



//****************************************************************************************************
//
// .. TABS
//
//****************************************************************************************************
.tabs {
  &.__large {
    .ui-tabs-nav {
      margin-left: 1px;
      li {
        a {
          margin-left: -1px;
          border: 1px solid $border-color;
          display: block;
          height: 40px;
          color: inherit;
          text-align: center;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 40px;
          background-color: #f5f5f9;
        }
        &.ui-tabs-active {
          a {
            border-bottom: 1px solid transparent;
            background-color: $base-bg;
          }
        }
      }
    }
  }
  &.__small {
    .ui-tabs-nav {
      margin-left: 1px;
      li {
        a {
          @include prefixes(transition, none);
          display: block;
          margin-left: -1px;
          height: 36px;
          border: 1px solid $border-color;
          color: inherit;
          text-align: center;
          line-height: 36px;
        }
        &.ui-tabs-active {
          a {
            background-color: $major-color;
            color: #fff;
          }
        }
      }
    }
  }
}
  .tabs_page {
    margin-top: -1px;
    border-top: 1px solid $border-color;
    &.__border {
      position: relative;
      border: 1px solid $border-color;
      // todo: отрефакторить навигацию каруселей
      .carousel-nav {
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }
    &.__margin {
      padding: 20px;
    }
  }

//
// .. Index tabs
//
.index-tabs {

}
  .index-tabs_i {
    display: inline-block;
    vertical-align: top;
    a {
      padding: 0 10px;
    }
  }




//****************************************************************************************************
//
// .. ACCORDION
//
//****************************************************************************************************
.accordion {
  .ui-accordion-header {
    position: relative;
    padding: 15px 0;
    border-bottom: 1px solid $border-color;
    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      content: '\f067';
      font-family: FontAwesome;
      @include prefixes(transform, translateY(-50%));
    }
    &.ui-accordion-header-active {
      &::after {content: '\f068';}
    }
  }
  .ui-accordion-content {
    line-height: 20px;
  }
}



//****************************************************************************************************
//
// .. CARAUSEL
//
//****************************************************************************************************
//
// .. OWL Carousel (horizontal)
//
.carousel {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    background-color: #fff;
  }
}
.carousel-nav {
  visibility: hidden;
  &.__small {
    .carousel-nav_i {
      background-color: #5f6674;
      color: #fff;
      font-size: 10px;
    }
  }
  &.__large {
    .carousel-nav_i {
      position: absolute;
      top: 40%;
      background-color: transparent;
      color: #b7b7bc;
      font-size: 20px;
      &.__prev {left: -25px;}
      &.__next {right: -25px;}
    }
  }
}
  .carousel-nav_i {
    display: inline-block;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    -webkit-backface-visibility: hidden;
    &.__prev {}
    &.__next {}
  }

//
// .. Cycle2 carousel (vertical)
//
.vertical-carousel {
  overflow: hidden;
  margin-bottom: 10px;
  height: 290px !important;
  img {
    margin-bottom: 10px;
    border: 1px solid $border-color;
    cursor: pointer;
  }
}
.vertical-carousel-nav {
  color: #fff;
  font-size: 14px;
}
  .vertical-carousel-nav_i {
    color: inherit;
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: #5f6674;
    &.__prev {float: left;}
    &.__next {float: right;}
  }

//
// .. Item
//
.carousel-i {
  padding: 10px;
  text-align: center;
  &.__video > .carousel-i_photo {
    position: relative;
    &::before {
      @include prefixes(transform, translate(-50%, -50%));
      position: absolute;
      top: 50%;
      left: 50%;
      width: 83px;
      height: 83px;
      background: url(/assets/images/play.png) center no-repeat;
      content: '';
    }
  }
  &.__product {

  }
}
  .carousel-i_name {
    margin-bottom: 5px;
  }



//****************************************************************************************************
//
// .. PARALAX
//
//****************************************************************************************************
.paralax {
  position: relative;
}
  .paralax_layer {
    height: 500px;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }



//****************************************************************************************************
//
// .. PHOTO GALLERY
//
//****************************************************************************************************
.photo-gallery {

}
  .photo-gallery_thumbs {

  }
  .photo-gallery_preview {

  }



//****************************************************************************************************
//
// .. PREFERENCES PERSONAL
//
//****************************************************************************************************
.preferences-personal {
  .form-el {
    margin-right: 15px;
    margin-bottom: 10px;
  }
}



//****************************************************************************************************
//
// .. PREFERENCES ITEM
//
//****************************************************************************************************
.preferences-i {
  text-align: center;
  .ico {margin-bottom: 10px;}
  &:not(:last-child) {border-right: 1px dotted $border-color;}
}
  .preferences-i_t {
    @extend .progressbar;
    margin: 0 20px 20px;
    background-color: #f5f5f9;
  }



//****************************************************************************************************
//
// .. FLAVORS ITEM
//
//****************************************************************************************************
.flavors-i {
  text-align: center;
  figcaption {
    .fa {
      color: #488ec8;
      position: relative;
      top: -2px;
      margin-left: 10px;
    }
  }
}
  .flavors-i_photo {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 1px solid $border-color;
    text-align: center;
    line-height: 96px;
    border-radius: 50%;
    img {border-radius: 50%;}
    .ico {vertical-align: middle;}
  }


//****************************************************************************************************
//
// .. BRANDS ITEM
//
//****************************************************************************************************
.brands-i {
  text-align: center;
}
  .brands-i_photo {
    margin: 0 auto;
    width: 100px;
    height: 100px;
    border: 1px solid $border-color;
    border-radius: 50%;    
    line-height: 100px;
    img {
      border-radius: 50%;
      vertical-align: middle;
    }
  }



//****************************************************************************************************
//
// .. REVIEWS ITEM
//
//****************************************************************************************************
//
// .. Thumbs
//
.reviews-thumbs {
  &:not(:last-child) {margin-bottom: 20px;}
  > .grid > .grid-i {
    &:first-child {padding-left: 4px;}
    &:last-child  {
      padding-right: 6px;
      padding-left: 6px;
    }
  }
}
  .reviews-thumbs_photo {
    border: 1px solid $border-color;
    border-radius: 50%;
    vertical-align: top;
  }
  .reviews-thumbs_data {
    @extend .tx.__xs;
    color: $muted-color;
  }
  .reviews-thumbs_nav {
    @extend .tx.__xs;
    text-align: right;
  }
    .reviews-thumbs_nav_i {
      &:not(:last-child) {
        &::after {
          position: relative;
          top: -1px;
          margin: 0 2px;
          color: $muted-color;
          content: '|';
        }
      }
    }

//
// .. Item
//
.reviews-i {
  &:not(:last-child) {margin-bottom: 40px;}
  &:hover {
    .reviews-i_photo, .reviews-i_action {display: block;}
  }
  header a {color: inherit;}
  p {line-height: 19px;}
}
  .reviews-i_user, .reviews-i_object {
   position: relative;
  }
    .reviews-i_photo {
      position: absolute;
      top: 50%;
      right: 0;
      display: none;
      border: 1px solid $border-color;
      border-radius: 50%;
      @include prefixes(transform, translateY(-50%));
    }
  .reviews-i_rating {
    text-align: center;
    a {font-size: 20px;}
  }
    .reviews-i_rating_control {
      display: inline-block;
      font-size: 12px;
      a, span {
        display: inline-block;
        vertical-align: middle;
      }
      a {margin-right: 5px;}
      span {margin-right: 10px;}
      &.__plus {
        a {color: #b8c901;}
      }
      &.__minus {
        a {color: #be0d34;}
      }
    }

//
// .. Add
//
.reviews-add {
  padding: 30px 0;
  background-color: #fafafc;
  box-shadow: 0 0 0 1px #e7e7e9;
}

//
// .. Action
//
.reviews-i_action {display: none;}
  .reviews-i_action_i{
    color: $muted-color;
    &:not(:last-child) {
      &::after {
        margin: 0 5px;
        content: '|';
      }
    }
    &.__reply {
      &:hover{color: #3b86c4;}
    }
    &.__report {
      &:hover {color: #903d1e;}
    }
  }



//****************************************************************************************************
//
// .. MESSAGES
//
//****************************************************************************************************
//
// .. Sidebar
//
.messages-sidebar {
  
}

//
// .. Feed
//
.messages-feed {
  padding: 20px 0 40px;
  min-height: 550px;
  border-left: 1px solid $border-color;
}

//
// .. Item
//
.messages-i {  
  &:not(:last-child) {margin-bottom: 35px;}
  p {line-height: 19px;}  
}

//
// .. Form
//
.messages-form {
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  background-color: #f9f9f9;
  padding: 40px 0 30px;
}

  //
  // .. Action
  //
  .messages-form_action {

  }
    .messages-form_action_i {
      position: relative;
      display: inline-block;
      &:not(:last-child) {
        margin-right: 21px;
        &::after {
          position: absolute;
          top: 0;
          right: -10px;
          bottom: 0;
          width: 1px;
          background-color: $border-color;
          content: '';
        }
      }
    }
      .messages-form_action_i_a {
        color: $border-color;
        font-size: 20px;
        &:hover {color: $base-color;}
      }

//
// .. Search
//
.messages-search {
  padding: 20px 10px;
  border-bottom: 1px solid $border-color;
  .form-el.__tx {background-color: #f9f9f9;}
}

//
// .. User list
//
.messages-user-list {

}
  .messages-user-list_i {
    padding: 15px 0;
    border-bottom: 1px solid #fff;
    background-color: #eff2f9;
    cursor: pointer;
    @include prefixes(transition, all .33s);
    &:not(:first-child) {border-top: 1px solid $border-color;}
    &:hover {
      background-color: #1c84dc;
      border-color: #1c84dc;
      .messages-user-list_i_name, .messages-user-list_i_count {color: #fff;}
    }
  }
    .messages-user-list_i_avatar {
      border-radius: 50%;
      vertical-align: top;
    }
    .messages-user-list_i_name {
      color: $link-color;
      @extend .gamma;
    }
    .messages-user-list_i_count {
      color: #292b33;
      font-size: 12px;
    }

//
// .. Show more
//
.messages-more {
  display: block;
  height: 75px;
  background-color: #f9f9f9;
  color: #6a6a6a;
  text-align: center;
  line-height: 75px;
}



//****************************************************************************************************
//
// .. SETTINGS
//
//****************************************************************************************************
//
// .. Sidebar
//
.settings-sidebar {

}

//
// .. Navigation
//
.settings-nav {

}
  .settings-nav_i {
    &:first-child {
      .settings-nav_i_a {border-top: none !important;}
    }
  }
    .settings-nav_i_a {
      display: block;
      padding: 2rem;
      border-top: 1px solid $border-color;
      border-bottom: 1px solid #fff;
      background-color: #eff2f9;
      text-transform: uppercase;
      font-size: 1.5rem;
      line-height: 1.9rem;
      @include prefixes(transition, all .33s);
      &.__current, &:hover {
        border-color: #1c84dc;
        background-color: #1c84dc;
        color: #fff;
      }
    }

//
// .. Form
//
.settings-form {
  padding-right: 20px;
  padding-left: 20px;
  @extend .messages-feed;  
}



//****************************************************************************************************
//
// .. COLLECTIONS
//
//****************************************************************************************************
.list_collections {
  padding: 0 30px;
}
  .list_collections_i {
    padding: 20px 0;
    &:not(:last-child) {border-bottom: 1px solid $border-color;}
  }
    .list_collections_i_group {
      font-size: 18px;
      line-height: 20px;
    }
    .list_collections_i_names {
      line-height: 20px;
      a { @extend .a.__invert; }
    }



//****************************************************************************************************
//
// .. OFFERS
//
//****************************************************************************************************
.offers {
  text-align: center;
  padding: 3rem;
}
  .offers_i {
    position: relative;
    padding: 2rem 2rem 6rem;
    border: 1px solid transparent;
    &:hover {
      border-color: $border-color;
      .offers_i_more, .offers_i_like {display: block;}
    }
  }
    .offers_i_photo {
      margin-bottom: 1rem;
      vertical-align: top;
    }
    .offers_i_name {
      text-transform: uppercase;
      font-size: 1.4rem;
      line-height: 2rem;
      a {color: $base-color;}
    }
    .offers_i_category {
      font-size: 1.2rem;
      line-height: 2rem;
    }
    .offers_i_price {
      font-size: 1.4rem;
      line-height: 2rem;
    }
    .offers_i_more {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      display: none;
      height: 5rem;
      background-color: #01c5c3;
      color: #fff;
      text-transform: uppercase;
      font-size: 1.6rem;
      line-height: 5rem;
    }
    .offers_i_like {
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: none;
      width: 2.8rem;
      height: 2.8rem;
      border-radius: 50%;
      background-color: $major-color;
      color: #fff;
      text-align: center;
      font-size: 1.4rem;
      line-height: 2.8rem;
    }

.offers-info {

}
  .offers-info_like {
    display: block !important;
    @extend .offers_i_like;
  }
  .offers-info_name {
    text-transform: uppercase;
    font-size: 2.4rem;
    line-height: 2rem;
  }
  .offers-price {
    font-size: 2.4rem;
    line-height: 2rem;
  }

.offers-add {
  display: block;
  height: 3.2rem;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  line-height: 3.2rem;
  .fa {
    margin-right: .5rem;
    vertical-align: middle;
    font-size: 1.6rem;
  }
}



//****************************************************************************************************
//
// .. ELEMENTS
//
//****************************************************************************************************
// .. HR line
.hr {
  margin: 0 auto;
  width: 100%;
  height: 1px;
  background-color: $border-color;
}

// .. User avatar
.avatars {
  max-height: 255px;
  text-align: center;
  .avatar {
    margin: 5px;
  }
}

.avatar {
  @include prefixes(box-sizing, border-box);
  display: inline-block;
  padding: 3px;
  border: 1px solid $border-color;
  border-radius: 50%;
}
  .avatar_photo, .object_photo {
    border: 1px solid $border-color;
    border-radius: 50%;
    vertical-align: top;
  }

// .. Stars raty
.stars {
  display: inline-block;
  font-size: 0;
  img {
    display: inline-block;
    vertical-align: middle;
  }
}

// .. Progress bar
.progressbar {
  position: relative;
  border: 1px solid $border-color;
  border-radius: 10px;
  text-align: center;
  line-height: 20px;
  .ui-progressbar-value {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    border-radius: 10px 0 0 10px;
    background-color: #f5f5f5;
  }
}
  .progressbar_inner {
    position: relative;
    z-index: 2;
  }

// .. Block
.block {
  border: 1px solid $border-color;
  background-color: #fff;
  &.__default {

  }
  &.__small {
    padding: 10px;
  }
  &.__normal {
    padding: 20px;
  }
  &.__large {
    padding: 50px;
  }
}

// .. Flags
.flag {
  width: 98px;
  height: 98px;
  border: 1px solid $border-color;
  border-radius: 50%;
  background-image: url(/assets/images/flags.png);
  background-repeat: no-repeat;
  &.__usa     {background-position: 0 0;}
  &.__belgium {background-position: -98px 0;}
  &.__italy   {background-position: -196px 0;}
  &.__uk      {background-position: -294px 0;}
  &.__china   {background-position: -392px 0;}
  &.__india   {background-position: -490px 0;}
  &.__russia  {background-position: -588px 0;}
  &.__ireland {background-position: -686px 0;}
}

//
// .. Brands tags
//
.brands-tags {
  &:not(:last-child) {margin-bottom: 30px;}
  a { @extend .a.__invert; }
}
  .brands-tags_dt {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    &::after {
      margin-left: 5px;
      color: $link-color;
      content: "\f0da";
      font-size: 12px;
      font-family: FontAwesome;
    }
  }
  .brands-tags_dd {
    font-size: 12px;
  }

//
// .. Brands month
//
.brands-month {
  border: 1px solid $border-color;
  text-align: center;
  img {vertical-align: top;}
}

//
// .. Brand logo
//
.brand-logo {
  border: 1px solid $border-color;
}

//
// Social Connections Ico
//
.social-connections-ico {
  width: 60px;
  vertical-align: middle;
  text-align: center;
  font-size: 4rem;
}



//****************************************************************************************************
//
// .. FOOTER
//
//****************************************************************************************************
.footer {
  height: 100px;
  border: {
    top: 1px solid $border-color;
    bottom: 1px solid $border-color;
  }
  background-color: #465065;
  color: #d0d0d4;
  line-height: 100px;
}

  .footer_nav {
    &.__devider {
      .footer_nav_i {
        &:not(:last-child) {
          &::after {content: '|';}
        }
      }
    }
    &.__icon {
      .footer_nav_i {margin: 0 10px;}
    }
  }
    .footer_nav_i {
      display: inline-block;
      font-size: 14px;
      a {
        color: inherit;
        &:hover {color: #fff;}
      }
      .fa {font-size: 18px;}
    }
