%section{role: "region", "aria-label" => "Demo"}
  %article
    %header.m-b_4
      %h3
        %a.a.__inner{href: "/"}
          %span Demo

    .grid
      .grid-i.__grid-1-3>
        %nav.demo
          %ol
            %li 
              %a{href: "/catalog"} Catalog
      .grid-i.__grid-1-3>
        %nav.demo
          %ol
            %li 
              %a.a.__pseudo{href: "/dialogs/voting#tab1", data: {dialog: "open", url: "/data/dialogs/voting", tab: 1}} Voting user