%section{role: "region", "aria-label" => "Demo"}
  %article
    %header.m-b_4
      %h3
        %a.a.__inner{href: "/docs/index"}
          %span Demo

    %nav.demo
      %ol
        %li 
          %a{href: "/catalog"} Catalog