.p-t_6.p-b_6
  %section{role: "region", "aria-label" => "Components"}
    .ctn
      %article.m-b_8.tx.__center
        %header.m-b_2
          %h4 Alerts
        %article.c-alert.__l.__round.c-bg.c-border.__green.m-b_2
          %i.c-alert_close.js-c-alert_close.fa.fa-times-circle
          %header
            %h2 Success
          %p Success description
        %article.c-alert.__round.c-bg.c-border.__orange.b-center.grid-i.__grid-6.m-b_2
          %i.c-alert_close.js-c-alert_close.fa.fa-times-circle
          %header
            %h3 Warning
          %p Warning description
        %article.c-alert.__s.__round.c-bg.c-border.__red.b-center.grid-i.__grid-3
          %i.c-alert_close.js-c-alert_close.fa.fa-times-circle
          %header
            %h4 Error
          %p Error description

      %article.m-b_8.tx.__center
        %header.m-b_2
          %h4 Backgrounds
        .grid.__no-gutter
          .grid-i.__grid-6>
            .p-t_2.p-b_2.c-bg.__red
              %p Red
          .grid-i.__grid-6>
            .p-t_2.p-b_2.c-bg.__orange
              %p Orange
          .grid-i.__grid-6>
            .p-t_2.p-b_2.c-bg.__yellow
              %p Yellow
          .grid-i.__grid-6>
            .p-t_2.p-b_2.c-bg.__green
              %p Green
          .grid-i.__grid-6>
            .p-t_2.p-b_2.c-bg.__blue
              %p Blue
          .grid-i.__grid-6>
            .p-t_2.p-b_2.c-bg.__violet
              %p Violet
          .grid-i.__grid-6>
            .p-t_2.p-b_2.c-bg.__gray
              %p Gray
          .grid-i.__grid-6>
            .p-t_2.p-b_2.c-bg.__dark
              %p.c-color.__white Dark
          .grid-i.__grid-6>
            .p-t_2.p-b_2.c-bg.__white
              %p.c-color.__black White
          .grid-i.__grid-6>
            .p-t_2.p-b_2.c-bg.__black
              %p.c-color.__white Black

      %article.m-b_8.tx.__center
        %header.m-b_2
          %h4 Badges
        %p
          %span.c-badge.__red Red
          %span.c-badge.__orange Orange
          %span.c-badge.__yellow Yellow
          %span.c-badge.__green Green
          %span.c-badge.__blue Blue
          %span.c-badge.__violet Violet
          %span.c-badge.__gray Gray
          %span.c-badge.__dark Dark
          %span.c-badge.__round.__red 1
          %span.c-badge.__round.__orange 2
          %span.c-badge.__round.__yellow 3
          %span.c-badge.__round.__green 4
          %span.c-badge.__round.__blue 5
          %span.c-badge.__round.__violet 6
          %span.c-badge.__round.__gray 7
          %span.c-badge.__round.__dark 8
      
      %article.m-b_8.tx.__center
        %header.m-b_2
          %h4 Breadcrumbs
        %nav
          %ul.c-breadcrumbs
            %li.c-breadcrumbs_i
              %a.c-breadcrumbs_a{href: "/index"} Chemistry Template
            %li.c-breadcrumbs_i
              %a.c-breadcrumbs_a{href: "/components"} Components
            %li.c-breadcrumbs_i Breadcrumbs

      %article.m-b_8.tx.__center
        %header.m-b_2
          %h4 Buttons
        .form.c-form
          .m-b_2
            %input.form-el.__btn.c-btn.__red{type: "button", value: "Red"}
            %input.form-el.__btn.c-btn.__orange{type: "button", value: "Orange"}
            %input.form-el.__btn.c-btn.__yellow{type: "button", value: "Yellow"}
            %input.form-el.__btn.c-btn.__green{type: "button", value: "Green"}
            %input.form-el.__btn.c-btn.__blue{type: "button", value: "Blue"}
            %input.form-el.__btn.c-btn.__violet{type: "button", value: "Violet"}
            %input.form-el.__btn.c-btn.__gray{type: "button", value: "Gray"}
            %input.form-el.__btn.c-btn.__dark{type: "button", value: "Dark"}
          .m-b_2
            %input.form-el.__btn.c-btn.__gray.__xs{type: "button", value: "Extra small"}
            %input.form-el.__btn.c-btn.__gray.__s{type: "button", value: "Small"}
            %input.form-el.__btn.c-btn.__gray{type: "button", value: "Normal"}
            %input.form-el.__btn.c-btn.__gray.__l{type: "button", value: "Large"}
            %input.form-el.__btn.c-btn.__gray.__xl{type: "button", value: "Extra large"}
      
      %article.m-b_8.tx.__center
        %header.m-b_2
          %h4 Colors
        %p
          %span.c-color.__red Red
          %span.c-color.__orange Orange
          %span.c-color.__yellow Yellow
          %span.c-color.__green Green
          %span.c-color.__blue Blue
          %span.c-color.__violet Violet
          %span.c-color.__gray Gray
          %span.c-color.__dark Dark
          %span.c-bg.__black
            %span.c-color.__white>< White
          %span.c-color.__black Black
      
      %article.m-b_8
        %header.m-b_2
          %h4.tx.__center Navigation
        %nav
          %ul.c-navigation
            %li.c-navigation_i
              %span.c-navigation_a.__current &bull;
            %li.c-navigation_i
              %a.c-navigation_a{href: "#"} &bull;
            %li.c-navigation_i
              %a.c-navigation_a{href: "#"} &bull;
            %li.c-navigation_i
              %a.c-navigation_a{href: "#"} &bull;
            %li.c-navigation_i
              %a.c-navigation_a{href: "#"} &bull;
          

      %article.m-b_8
        %header.m-b_2
          %h4.tx.__center Pagination
        %nav
          %ul.c-pagination
            %li.c-pagination_i
              %span.c-pagination_a.__prev.__disabled
                %i.fa.fa-arrow-circle-left
            %li.c-pagination_i
              %span.c-pagination_a.__current 1
            %li.c-pagination_i
              %a.c-pagination_a{href: "#"} 2
            %li.c-pagination_i
              %a.c-pagination_a{href: "#"} 3
            %li.c-pagination_i
              %a.c-pagination_a{href: "#"} 4
            %li.c-pagination_i
              %a.c-pagination_a{href: "#"} 5
            %li.c-pagination_i
              %span.c-pagination_a.__spacer ...
            %li.c-pagination_i
              %a.c-pagination_a{href: "#"} 100
            %li.c-pagination_i
              %a.c-pagination_a.__next{href: "#"}
                %i.fa.fa-arrow-circle-right

      = haml :'/docs/views/common/_scroll'