.p-t_6.p-b_6
  %section{role: "region", "aria-label" => "Forms"}
    .ctn
      %form.form.m-b_4{action: "#"}
        %fieldset.m-b_6
          %legend.form-el.__legend.m-b_2 HTML5 types, attributes
          .m-b_2
            %input.form-el.__tx.grid-i.__grid-3{type: "text", placeholder: "Autofocus", autofocus: "true"}
          .m-b_2
            %input.form-el.__tx.grid-i.__grid-3{type: "text", placeholder: "Required", required: "required", title: "Title example."}
          .m-b_2
            %input.form-el.__tx.grid-i.__grid-3{type: "url", placeholder: "Url", title: "Title example."}
          .m-b_2
            %input.form-el.__tx.grid-i.__grid-3{type: "tel", placeholder: "Tel", title: "Title example."}
          .m-b_2
            %input.form-el.__tx.grid-i.__grid-3{type: "email", pattern: "[^ @]*@[^ @]*", value: "example@mail.com", title: "Title example."}
        
        %fieldset.m-b_6
          %legend.form-el.__legend.m-b_2 Buttons
          .m-b_2
            %button.form-el.__btn{disabled: "disabled"} Button
          .m-b_2
            %button.form-el.__btn.grid-i.__grid-6 Button
          .m-b_2
            %button.form-el.__btn.__block
              %i.fa.fa-check-circle
              Button with icon

        %fieldset.m-b_6
          %legend.form-el.__legend.m-b_2 Inputs
          .m-b_2
            %label.form-el.__label.__block Label
            %input.form-el.__tx.grid-i.__grid-1{type: "text"}
          .m-b_2
            %label.form-el.__label.__block{data: {required: "before"}} Required before label
            %input.form-el.__tx.grid-i.__grid-2{type: "text", value: "Value"}
          .m-b_2
            %label.form-el.__label.__block{data: {required: "after"}} Required after label
            %input.form-el.__tx.grid-i.__grid-3{type: "text", placeholder: "Placeholder"}
          .m-b_2
            %input.form-el.__tx.grid-i.__grid-4{type: "text", value: "True", data: {valid: "true"}}
          .m-b_2
            %input.form-el.__tx.grid-i.__grid-5{type: "password", value: "False", data: {valid: "false"}}
          .m-b_2
            %input.form-el.__tx.grid-i.__grid-6{type: "text", value: "Disabled", disabled: "disabled"}
        
        %fieldset.m-b_6
          %legend.form-el.__legend.m-b_2 Checkboxes
          .m-b_2
            %label.form-el.__label.__block Checkboxes group
            .form-el.__checkbox.__fake
              %input.form-el.__checkbox.__real{type: "checkbox"}
            .form-el.__checkbox.__fake
              %input.form-el.__checkbox.__real{type: "checkbox", checked: "checked"}
            .form-el.__checkbox.__fake
              %input.form-el.__checkbox.__real{type: "checkbox", data: {valid: "false"}}
            .form-el.__checkbox.__fake
              %input.form-el.__checkbox.__real{type: "checkbox", checked: "checked", data: {valid: "true"}}
            .form-el.__checkbox.__fake
              %input.form-el.__checkbox.__real{type: "checkbox", disabled: "disabled"}
            .form-el.__checkbox.__fake
              %input.form-el.__checkbox.__real{type: "checkbox", checked: "checked", disabled: "disabled"}
          .m-b_2
            %label.form-el.__label
              %span.form-el.__checkbox.__fake
                %input.form-el.__checkbox.__real{type: "checkbox"}
              %span Checkbox
        
        %fieldset.m-b_6
          %legend.form-el.__legend.m-b_2 Radiobuttons
          .m-b_2
            %label.form-el.__label.__block Radiobuttons group
            %span.form-el.__radio.__fake
              %input.form-el.__radio.__real{type: "radio", name: "radio1", checked: "checked"}
            %span.form-el.__radio.__fake
              %input.form-el.__radio.__real{type: "radio", name: "radio1", data: {valid: "true"}}
            %span.form-el.__radio.__fake
              %input.form-el.__radio.__real{type: "radio", name: "radio1", data: {valid: "false"}}
            %span.form-el.__radio.__fake
              %input.form-el.__radio.__real{type: "radio", name: "radio1", disabled: "disabled"}
          .m-b_2
            %label.form-el.__label
              %span.form-el.__radio.__fake
                %input.form-el.__radio.__real{type: "radio", name: "radio2"}
              %span Radiobutton
       
        %fieldset.m-b_6
          %legend.form-el.__legend.m-b_2 Files
          .m-b_2
            .form-el.__file.__fake.grid-i.__grid-3{data: {placeholder: "Выберите файл..."}}
              %p &nbsp;
              %input.form-el.__file.__real{type: "file"}
          .m-b_2
            .form-el.__file.__fake.grid-i.__grid-6{data: {placeholder: "Выберите файл..."}}
              %p &nbsp;
              %input.form-el.__file.__real{type: "file", data: {valid: "true"}}
          .m-b_2
            .form-el.__file.__fake.grid-i.__grid-9{data: {placeholder: "Выберите файл..."}}
              %p &nbsp;
              %input.form-el.__file.__real{type: "file", data: {valid: "false"}}
          .m-b_2
            .form-el.__file.__fake.__block{data: {placeholder: "Выберите файл..."}}
              %p &nbsp;
              %input.form-el.__file.__real{type: "file", disabled: "disabled"}
        
        %fieldset.m-b_6
          %legend.form-el.__legend.m-b_2 Buttons
          .m-b_2
            %input.form-el.__btn{type: "button", value: "Button", disabled: "disabled"}
          .m-b_2
            %input.form-el.__btn.grid-i.__grid-6{type: "reset", value: "Reset"}
          .m-b_2
            %input.form-el.__btn.__block{type: "submit", value: "Submit"}
        
        %fieldset.m-b_6
          %legend.form-el.__legend.m-b_2 Selects
          .m-b_2
            .form-el.__select.__fake.grid-i.__grid-2
              %p &nbsp;
              %select.form-el.__select.__real
                %option{selected: "selected"} Выберите
                %option Первый
                %option Второй
                %option Третий третий третий третий
          .m-b_2
            .form-el.__select.__fake.grid-i.__grid-4
              %p &nbsp;
              %select.form-el.__select.__real{data: {valid: "true"}}
                %option Выберите
                %option{selected: "selected"} Первый
                %option Второй
                %option Третий
          .m-b_2
            .form-el.__select.__fake.grid-i.__grid-6
              %p &nbsp;
              %select.form-el.__select.__real{data: {valid: "false"}}
                %option Выберите
                %option Первый
                %option{selected: "selected"} Второй
                %option Третий
          .m-b_2
            .form-el.__select.__fake.grid-i.__grid-8
              %p &nbsp;
              %select.form-el.__select.__real{disabled: "disabled"}
                %option{selected: "selected"} Выберите
                %option Первый
                %option Второй
                %option Третий

        %fieldset
          %legend.form-el.__legend.m-b_2 Textareas
          .m-b_2
            %textarea.form-el.__textarea.grid-i.__grid-3{rows: "3"}
          .m-b_2
            %textarea.form-el.__textarea.grid-i.__grid-6{rows: "4", data: {valid: "true"}} True
          .m-b_2
            %textarea.form-el.__textarea.grid-i.__grid-6{rows: "4", data: {valid: "false"}} False
          .m-b_2
            %textarea.form-el.__textarea.__block{rows: "5", disabled: "disabled"} Disabled

      = haml :'/docs/views/common/_scroll'