.p-t_6.p-b_6
  %section.m-b_6{role: "region", "aria-labelledby" => "grid"}
    %article.ctn
      %header
        %h2#grid.m-b_2 Grid

      .m-b_2
        .grid
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-1.c-bg.__gray> 1

      .m-b_2
        .grid
          .grid-i.__grid-2.c-bg.__gray> 2
          .grid-i.__grid-2.c-bg.__gray> 2
          .grid-i.__grid-2.c-bg.__gray> 2
          .grid-i.__grid-2.c-bg.__gray> 2
          .grid-i.__grid-2.c-bg.__gray> 2
          .grid-i.__grid-2.c-bg.__gray> 2
      
      .m-b_2
        .grid
          .grid-i.__grid-3.c-bg.__gray> 3
          .grid-i.__grid-3.c-bg.__gray> 3
          .grid-i.__grid-3.c-bg.__gray> 3
          .grid-i.__grid-3.c-bg.__gray> 3

      .m-b_2
        .grid
          .grid-i.__grid-4.c-bg.__gray> 4
          .grid-i.__grid-4.c-bg.__gray> 4
          .grid-i.__grid-4.c-bg.__gray> 4
      
      .m-b_2
        .grid
          .grid-i.__grid-6.c-bg.__gray> 6
          .grid-i.__grid-6.c-bg.__gray> 6
      
      .m-b_2
        .grid
          .grid-i.__grid-7.c-bg.__gray> 7
          .grid-i.__grid-5.c-bg.__gray> 5
      
      .m-b_2
        .grid
          .grid-i.__grid-8.c-bg.__gray> 8
          .grid-i.__grid-4.c-bg.__gray> 4
      
      .m-b_2
        .grid
          .grid-i.__grid-9.c-bg.__gray> 9
          .grid-i.__grid-3.c-bg.__gray> 3
      
      .m-b_2
        .grid
          .grid-i.__grid-10.c-bg.__gray> 10
          .grid-i.__grid-2.c-bg.__gray> 2
      
      .m-b_2
        .grid
          .grid-i.__grid-11.c-bg.__gray> 11
          .grid-i.__grid-1.c-bg.__gray> 1
      
      .m-b_6
        .grid
          .grid-i.__grid-12.c-bg.__gray> 12

      .m-b_2
        .grid
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-2.c-bg.__gray> 2
          .grid-i.__grid-9.c-bg.__gray> 9
      
      .m-b_2
        .grid
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-3.c-bg.__gray> 3
          .grid-i.__grid-8.c-bg.__gray> 8
      
      .m-b_2
        .grid
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-4.c-bg.__gray> 4
          .grid-i.__grid-7.c-bg.__gray> 7
      
      .m-b_2
        .grid
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-5.c-bg.__gray> 5
          .grid-i.__grid-6.c-bg.__gray> 6
      
      .m-b_2
        .grid
          .grid-i.__grid-2.c-bg.__gray> 2
          .grid-i.__grid-3.c-bg.__gray> 3
          .grid-i.__grid-7.c-bg.__gray> 7

      .m-b_2
        .grid
          .grid-i.__grid-2.c-bg.__gray> 2
          .grid-i.__grid-4.c-bg.__gray> 4
          .grid-i.__grid-6.c-bg.__gray> 6

      .m-b_2
        .grid
          .grid-i.__grid-3.c-bg.__gray> 3
          .grid-i.__grid-4.c-bg.__gray> 4
          .grid-i.__grid-5.c-bg.__gray> 5

      .m-b_2
        .grid
          .grid-i.__grid-1.c-bg.__gray> 1
          .grid-i.__grid-10.c-bg.__gray> 10
          .grid-i.__grid-1.c-bg.__gray> 1
      
      .m-b_2
        .grid
          .grid-i.__grid-2.c-bg.__gray> 2
          .grid-i.__grid-8.c-bg.__gray> 8
          .grid-i.__grid-2.c-bg.__gray> 2
      
      .m-b_6
        .grid
          .grid-i.__grid-3.c-bg.__gray> 3
          .grid-i.__grid-6.c-bg.__gray> 6
          .grid-i.__grid-3.c-bg.__gray> 3

  %section.m-b_6{role: "region", "aria-labelledby" => "no-gutter"}
    %article.ctn
      %header
        %h2#offset.m-b_2 No gutter
      
      .c-bg.__yellow
        .m-b_2
          .grid.__no-gutter
            .grid-i.__grid-2.c-bg.__dark> 2
            .grid-i.__grid-2.c-bg.__blue> 2
            .grid-i.__grid-2.c-bg.__dark> 2
            .grid-i.__grid-2.c-bg.__blue> 2
            .grid-i.__grid-2.c-bg.__dark> 2
            .grid-i.__grid-2.c-bg.__blue> 2
        
        .m-b_2
          .grid.__no-gutter
            .grid-i.__grid-3.c-bg.__dark> 4
            .grid-i.__grid-3.c-bg.__blue> 4
            .grid-i.__grid-3.c-bg.__dark> 4
            .grid-i.__grid-3.c-bg.__blue> 4

        .m-b_2
          .grid.__no-gutter
            .grid-i.__grid-6.c-bg.__dark> 6
            .grid-i.__grid-6.c-bg.__blue> 6

  %section.m-b_6{role: "region", "aria-labelledby" => "offset"}
    %article.ctn
      %header
        %h2#offset.m-b_2 Offsets
      .c-bg.__yellow
        .m-b_2
          .grid
            .grid-i.__grid-2.__suffix-10.c-bg.__dark> 2
            .grid-i.__grid-2.__prefix-2.__suffix-8.c-bg.__blue> 2
            .grid-i.__grid-2.__prefix-4.__suffix-6.c-bg.__dark> 2
            .grid-i.__grid-2.__prefix-6.__suffix-4.c-bg.__blue> 2
            .grid-i.__grid-2.__prefix-8.__suffix-2.c-bg.__dark> 2
            .grid-i.__grid-2.__prefix-10.c-bg.__blue> 2

        .grid.__no-gutter
          .grid-i.__grid-1.__suffix-11.c-bg.__dark> 1
          .grid-i.__grid-1.__prefix-1.__suffix-10.c-bg.__blue> 1
          .grid-i.__grid-1.__prefix-2.__suffix-9.c-bg.__dark> 1
          .grid-i.__grid-1.__prefix-3.__suffix-8.c-bg.__blue> 1
          .grid-i.__grid-1.__prefix-4.__suffix-7.c-bg.__dark> 1
          .grid-i.__grid-1.__prefix-5.__suffix-6.c-bg.__blue> 1
          .grid-i.__grid-1.__prefix-6.__suffix-5.c-bg.__dark> 1
          .grid-i.__grid-1.__prefix-7.__suffix-4.c-bg.__blue> 1
          .grid-i.__grid-1.__prefix-8.__suffix-3.c-bg.__dark> 1
          .grid-i.__grid-1.__prefix-9.__suffix-2.c-bg.__blue> 1
          .grid-i.__grid-1.__prefix-10.__suffix-1.c-bg.__dark> 1
          .grid-i.__grid-1.__prefix-11.c-bg.__blue> 1

  .ctn
    = haml :'/docs/views/common/_scroll'