.p-t_6.p-b_6
  %section.m-b_8{role: "region", "aria-label" => "Dialogs"}
    .ctn.tx.__center
      %ul.grid
        %li.grid-i.__grid-3>
          %a.a.__pseudo{href: "#", data: {dialog: "open", url: "/docs/data/dialogs/arcticmodal-dialog-default"}} arcticModal Dialog Default
        %li.grid-i.__grid-3>
          %a.a.__pseudo{href: "#", data: {dialog: "open", url: "/docs/data/dialogs/arcticmodal-dialog-form"}} arcticModal Dialog Form

  %section.m-b_8{role: "region", "aria-label" => "Demo"}
    .ctn.tx.__center
      %a.a.__inner{href: "/demo"}
        %i.fa.fa-folder-open-o
        &nbsp;
        %span Project demo page