.p-t_6.p-b_6
  %section.m-b_4{role:" region", "aria-label" => "Styles"}
    .ctn
      .m-b_8
        .grid
          .grid-i.__grid-4>
            %p.tx.__xxs text size xxs
            %p.tx.__xs text size xs
            %p.tx.__s text size s
            %p text size base
            %p.tx.__l text size l
            %p.tx.__xl text size xl
            %p.tx.__xxl text size xxl

          .grid-i.__grid-4>
            %p.tx.__lower Text transform lowercase
            %p.tx.__cap Text transform capitalize
            %p.tx.__upper Text transform uppercase

          .grid-i.__grid-4>
            %p.tx.__left text align left
            %p.tx.__center text align center
            %p.tx.__right text align right

      .m-b_8
        .grid
          .grid-i.__grid-4>
            %p.tx.__color.__major text color major
            %p.tx.__color.__minor text color minor
            %p.tx.__color.__muted text color muted

          .grid-i.__grid-4>
            %p.tx.__xl.format-money.__rub
              100000000
            %p.m-b_1.format-money.__usd
              10000000
            %p.m-b_1.tx.__xs.format-money.__eur
              1000000
            %p.format-number
              1234567890
          
          .grid-i.__grid-4>
            %article
              %header
                %h4
                  %a{href: "http://fortawesome.github.io/Font-Awesome/", target: "_blank"} Font Awesome
              %p.m-b_1.tx.__s.__lighten-33
                The iconic font&nbsp;
                %s designed for Bootstrap
      
  %section.m-b_4{role: "region", "aria-labelledby" => "columns"}
    %article.ctn
      %header
        %h2#columns.m-b_2 Columns
      %p.tx.__cols-2.m-b_2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
      %p.tx.__cols-3.m-b_2 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
      %p.tx.__cols-4 Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

  .ctn
    = haml :'/docs/views/common/_scroll'