%header#header.header{role: "banner"}
  .ctn.p-t_2.p-b_2
    %h3.m-b_2.tx.__center
      %a.a.__inner{href: "/docs/index"}
        %i.fa.fa-flask
        %span Chemistry Template
    %nav{role: "navigation"}
      .ctn
        %ul.grid.__no-gutter.tx.__center
          %li.grid-i.__grid-2>
            %a{href: "/docs/grid"} Grid
          %li.grid-i.__grid-2>
            %a{href: "/docs/links"} Links
          %li.grid-i.__grid-2>
            %a{href: "/docs/forms"} Forms
          %li.grid-i.__grid-2>
            %a{href: "/docs/content"} Content
          %li.grid-i.__grid-2>
            %a{href: "/docs/styles"} Styles
          %li.grid-i.__grid-2>
            %a{href: "/docs/components"} Components